<!DOCTYPE html>
<html>
<head>
    <title>Game of Hangman</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/hangman.css">

    <script src="http://code.jquery.com/jquery.js"></script>


    <script src="http://unpkg.com/react/dist/react.js"></script>
    <script src="http://unpkg.com/react-dom/dist/react-dom.js"></script>
    <!-- AJAX fetch API polyfill -->
    <script src="http://unpkg.com/whatwg-fetch"></script>

    <script src="http://unpkg.com/babel-standalone"></script>

    <script src="../static/hangman.jsx" type="text/jsx"></script>

</head>
<body>

<div id="game">
     <input type="hidden" id="level" value="{{session['level']}}">
</div>


</body>
</html>